<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sleepykoala.pmeals"
    android:versionCode="15"
    android:versionName="@string/version" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:uiOptions="splitActionBarWhenNarrow"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true" >
        
        <!-- activities -->
        <activity
            android:name=".activities.Launcher"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Holo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ViewByMeal"
            android:label="@string/title_activity_viewbymeal" >
        </activity>
        <activity
            android:name=".activities.ViewByLocation"
            android:label="@string/title_activity_viewbylocation" >
        </activity>
        <activity
            android:name=".activities.ReorderLocations"
            android:label="@string/title_activity_reorderlocations"
            android:theme="@android:style/Theme.Holo"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MealSearcher"
            android:label="@string/title_activity_meal_searcher"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/meal_search" />
        </activity>
        <activity android:name=".activities.WidgetConfigurator"
            android:label="@string/title_activity_widgetconfigurator" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
		    </intent-filter>
		</activity>
        <activity android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@android:style/Theme.Holo"
            android:launchMode="singleTask"
            android:exported="false" >
		</activity>
        <activity
            android:name=".activities.ManageAlertsActivity"
            android:label="@string/title_activity_managealerts"
            android:theme="@android:style/Theme.Holo"
            android:exported="false" >
        </activity>
        <activity
            android:name=".activities.SetupNewAlert"
            android:label="@string/title_activity_setupnewalert"
            android:theme="@android:style/Theme.Holo"
            android:exported="false" >
        </activity>

        <!-- content providers -->
        <provider
            android:name=".contentproviders.MenuProvider"
            android:authorities="com.sleepykoala.pmeals.contentproviders.MenuProvider"
            android:exported="true" >
        </provider>
        <provider
            android:name=".contentproviders.SearchSuggestionsProvider"
            android:authorities="com.sleepykoala.pmeals.contentproviders.SearchSuggestionsProvider"
            android:exported="false" >
        </provider>

        <!-- services -->
        <service
            android:name=".services.MenuDownloaderService"
            android:exported="false" >
        </service>
        <service
            android:name=".services.MenuWidgetAdapterService"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
        </service>
        <service
            android:name=".services.WidgetSwitcherService"
		    android:exported="false" >
        </service>
        <service
            android:name=".services.DailyDownloadService" >
        </service>
        <service
            android:name=".services.AlertService" >
        </service>
        
        <!-- broadcast receivers -->
        <receiver android:name=".receivers.MenuWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                	   android:resource="@xml/menuwidget_info" />
        </receiver>
        <receiver android:name=".receivers.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
    </application>

</manifest>